 
  footer {
    margin-top: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    a{
      font-size: 1.2em;
    }
    .social {
      display: flex;
      justify-content: center;
      .link-social {
        margin: 10px;
        .social-logo {
          width: 2.5em;
        }
      }
    }
 ul{
   display: flex;
   justify-content: space-around;
 }
  }

.social-logo {
  width: 2.5em;}