body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
li {
  list-style-type: none;
  color: black;
}
ul {
  padding: 0;
}
h3,
h2 {
  margin: 0px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

.introduction {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 50px;
  justify-content: center;
  h1,
  p {
    text-align: center;
    margin: 2px;
  }
  p {
    text-align: center;
  }
}
.shop {
  width: 1em;
}
.catch-phrase {
  text-align: center;
  font-size: 1.5em;
}
img {
  /* object-fit: cover;*/
}
h2 {
  font-size: 3em;
}
