.array-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  table{
    border: 2px black solid;
    border-collapse: collapse;
    >thead{
      border: 2px black solid;
      >tr{
        border: 2px black solid;
        >th{
          border: 2px black solid;
        }
      }
    }
  }
}